SAP_Core-/Service References/WSOv/WebServiceOVSincronizacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost:6340/WebServiceGrupoPana.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost:6340/WebServiceGrupoPana.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Service Vistony</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost:6340/WebServiceGrupoPana.asmx">
      <s:element name="RegistrarOrdenDeVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JsonOrders" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarOrdenDeVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarOrdenDeVentaResult" type="tns:clsBeRespuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsBeRespuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DocEntry" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocNum" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarOrdenDeVentaSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarOrdenDeVenta" />
  </wsdl:message>
  <wsdl:message name="RegistrarOrdenDeVentaSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarOrdenDeVentaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService_x0020_-_x0020_VISTSoap">
    <wsdl:operation name="RegistrarOrdenDeVenta">
      <wsdl:input message="tns:RegistrarOrdenDeVentaSoapIn" />
      <wsdl:output message="tns:RegistrarOrdenDeVentaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService_x0020_-_x0020_VISTSoap" type="tns:WebService_x0020_-_x0020_VISTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarOrdenDeVenta">
      <soap:operation soapAction="http://localhost:6340/WebServiceGrupoPana.asmx/RegistrarOrdenDeVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService_x0020_-_x0020_VISTSoap12" type="tns:WebService_x0020_-_x0020_VISTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarOrdenDeVenta">
      <soap12:operation soapAction="http://localhost:6340/WebServiceGrupoPana.asmx/RegistrarOrdenDeVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService_x0020_-_x0020_VIST">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Service Vistony</wsdl:documentation>
    <wsdl:port name="WebService_x0020_-_x0020_VISTSoap" binding="tns:WebService_x0020_-_x0020_VISTSoap">
      <soap:address location="http://169.47.196.209/WS_SINCOV_TEST/WebServiceOVSincronizacion.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService_x0020_-_x0020_VISTSoap12" binding="tns:WebService_x0020_-_x0020_VISTSoap12">
      <soap12:address location="http://169.47.196.209/WS_SINCOV_TEST/WebServiceOVSincronizacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>